ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Carousel */
.carousel {
  width: 150px;
  overflow: hidden;
}

.carousel__content {
  display: flex;
  margin-bottom: 10px;
  transform: translate(0, 0);
  transition: transform 100ms ease-in-out;
}

.carousel__item {
  cursor: pointer;
}

/* Modal */
.modal {
  background-color: rgba(0, 0, 0, 0.3);
}
